/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 #search-keyword {
  width: 300px;
 }

* {
  border-radius: 4px;
}

.brand-logo {
  margin-left: 10px;
}

.copyright {
  text-align: left;
  margin-left: 10px;
}

.container {
  text-align: left;
  width: 900px;
}

body {
  padding: 10px;
}

.signup {
  width: 300px;
  text-align: center;
  margin-left: 125px
}

/* .top {
  text-align: center;
  border: 1px solid black;
  padding: 10px;
  background-color: white;
} */

.middle {
  text-align: center;
  padding: 50px;
  background-color: white;
}

/* .bottom {
  text-align: center;
  border: 1px solid black;
  padding: 10px;
  background-color: white;
}
.new-middle {
  text-align: center;
  padding: 50px;
  background-color: white;
  margin-bottom: 185px;
}
 */

.alert {
  text-align: center;
  padding: 10px;
  margin-top: 70px;
}

.table {
  margin-top: 30px;
}
