<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>

<a href="/sounds">Home</a>
<a href="/subs">808s</a>
<a href="/kicks">Kicks</a>
<a href="/snares">Snares</a>
<a href="/hats">Hats</a>
<a href="/claps">Claps</a>

<h1>Sample Space</h1>

